<!DOCTYPE html>
<html>
  <head>
    <title>RY portfolio</title>
   <link rel="stylesheet" type="text/css" href="styles.css">
  </head>

  <body>
    <div class="container">
      <div class="bgfor">
        <div class="logos-container">
          <div class="logo">
          <a href="/assests/"><img src="/assets/profile.png" alt="Main Logo"> </a>
          </div>

          <div class="dashboard-logo">
            <a href="/assets/" > <img src="/assets/dashboard-logo.png" alt="Dashboard Logo"> </a>
          </div>
        </div>
        <br>
        <br>

        <img class="img4" src="/assets/cover.jpg" alt="Cover Image">
        <br>
        <h1 class="name">Yaya Rezai</h1>
        <p class="name"> Full-Stack Web Developer</p>
       <br>
        <br> <br>
        <br><br>

      </div>
      <div class="projects, project-images">
        <h2>Projects</h2>
        <br> <br>
        <h3>Restroomie <a href="https://www.restroomi.es/" target="_blank">project</a>.</h3>
        <img src="/assets/restroomie1.png" alt="Restroomie">
        <img src="/assets/restroomie2.png" alt="Restroomie1">
      </div>

      <div class="projects, project-mages1">
        <h3>ToolConnect <a href="https://toolconnect.herokuapp.com/" target="_blank">project</a>.</h3>
        <img src="/assets/toolconnect1.png" alt="ToolConnect">
        <img src="/assets/toolconnect2.png" alt="ToolConnect1">
      </div>

      <div class="education">
        <h2>Education</h2>
        <br> <br>

        <div class="education-item">
          <p>Largar Daikundi AFG <a href="/education">certificate</a>.</p>
          <img src="#" alt="certificate">
        </div>

        <div class="education-item">
          <p>2.epal Athenon <a href="/education">diploma</a>.</p>
          <img src="/assets/certificate-translatedone.png" alt="diploma">
        </div>

        <div class="education-item">
          <p>Free code camp <a href="/education">cerficate</a>.</p>
          <img src="/assets/res.png" alt="certificate">
        </div>

        <div class="education-item">
          <p>Udemy <a href="#">certificate</a>.</p>
          <img src="#" alt="certificate">
        </div>

        <div class="education-item">
          <p>Alison <a href="#">Diploma</a>.</p>
          <img src="#" alt="diploma">
        </div>

        <div class="education-item">
          <p>Lewagon Bootcamp Certificate</p>
          <img src="/assets/certificate-lewagon1.png" alt="certificate">
        </div>
      </div>

      <div class="about">
        <h2>About</h2>
        <br> <br>
          <p>I have a strong passion for creating efficient and user-friendly web applications. </p>
          <br>
          <p>Tech stack </p>
        <button><a href="https://www.ruby-lang.org/de/" target="_blank">Ruby</a> </button>
        <button><a href="https://rubyonrails.org/" target="_blank">Rails</a> </button>
        <button><a href="https://de.ryte.com/wiki/SQL" target="_blank">SQL</a> </button>
        <button><a href="https://wiki.selfhtml.org/wiki/HTML" target="_blank">HTML</a> </button>
        <button><a href="https://www.quackit.com/css/css_color_codes.cfm" target="_blank">CSS</a> </button>
        <button><a href="https://lightweb-media.de/webentwicklung/unterschied-css-less-scss-sass/" target="_blank">SCSS</a> </button>
        <button><a href="https://wiki.selfhtml.org/wiki/JavaScript" target="_blank">JavaScript</a> </button>
        <button><a href="https://react.dev/" target="_blank">React</a> </button>
        <button><a href="https://www.heroku.com/" target="_blank">Heroku</a> </button>
        <button><a href="https://www.api.de/" target="_blank">API</a> </button>
        <button><a href="https://www.mapbox.com/" target="_blank">Mapbox</a> </button>
        <button><a href="https://git-scm.com/" target="_blank">Git</a> </button>
        <button><a href="https://github.com/" target="_blank">GitHub</a> </button>
        <button><a href="https://getbootstrap.com/" target="_blank">Bootstrap</a> </button>
        <button><a href="https://www.postgresql.org/" target="_blank">PostgreSQL</a> </button>
        <button><a href="https://www.sqlite.org/index.html" target="_blank">SQLite</a> </button>
        <button><a href="https://github.com/varvet/pundit" target="_blank">Pundit</a> </button>
        <button><a href="https://rspec.info/" target="_blank">Rspec</a> </button>
        <button><a href="https://www.w3schools.com/js/js_ajax_intro.asp" target="_blank">Ajax</a> </button>
        <button><a href="https://www.json.org/json-de.html" target="_blank">JSON</a> </button>
        <button><a href="https://de.wikipedia.org/wiki/Model_View_Controller" target="_blank">MVC</a> </button>
      </div>

      <div class="bio">
        <h2>Bio</h2>
        <br>
        <p>I'm Yaya, a motivated and dedicated full-stack developer with expertise in Ruby on Rails, MVC architecture, SQL, HTML, CSS, SCSS, Ruby, JSON, React, JavaScript, Heroku, API, and Mapbox. I have a strong passion for creating efficient and user-friendly web applications.
        <br>
        Throughout my career, I have gained extensive hands-on experience in developing robust backend systems using Ruby on Rails. I excel at implementing MVC patterns to ensure clean and maintainable code. Working with databases, writing efficient SQL queries, and optimizing database performance are some of my core strengths.
        <br>
        On the front end side, I have a solid command of HTML, CSS, and JavaScript, enabling me to create responsive and visually appealing user interfaces. I'm well-versed in utilizing React to build interactive and dynamic web components that enhance the overall user experience.
        <br>
        I have a relentless drive to expand my knowledge and stay up-to-date with the latest industry trends. Collaborating with teams and solving complex problems are areas where I thrive. I take pride in delivering high-quality software solutions and enjoy working in challenging environments.
        <br>
        If you have any questions or require assistance with development projects, please feel free to reach out to me. I'm always ready to take on new challenges and contribute my skills to create innovative and impactful applications.
        </p>
      </div>

          <br>
        <h2>Coding Education</h2>
        <br> <br>
        <p>Full Stack Web Development</p>
        <p>Coding Bootcamp
        <br>
      <a href="https://www.lewagon.com/" target="_blank"> Le Wagon</a></p>
        <p>Graduated June 2023</p>
        <br>

        <p>Responsive Web Design
        <br>Certificate</p>
        <p><a href="https://www.freecodecamp.org/" target="_blank">Free Code Camp</a></p>
        <p>Graduated December 2022</p>
        <br>

        <p>JavaScript
        <br>Online Course</p>
        <p><a href="https://de.khanacademy.org/" target="_blank">Khan Academy</a></p>
        <br>
        <br>


        <br> <br>

      <div class="contact">
        <h2>Contact</h2>
        <br>
        <p>Phone: 123456789</p>
        <p>Email: hello@hello.com</p>
        <p>Address: 1234 Main Str, Berlin, Gremany</p>
        <p>GitHub: <a href="https://github.com/itsyaya" target="_blank" >yayarezai</a></p>
        <p>LinkedIn: <a href="https://www.linkedin.com/in/yaya-rezai/" target="_blank" >yaya-rezai</a></p>
      </div>
    </div>
  </body>
</html>
